<div class="wrapper">
	<!--header-->
	<div class="p_f t0 l0 w_b100 back_fff pl10 pr10 z100 bor_b">
		<div class="box_center h44">
			<div class="grid_cell box_start">
				<div class="left_icon w22 h28" ng-click="backFun()"></div>
			</div>
			<div class="f16 grid_cell box_center">填写资料</div>
			<div class="grid_cell box_end">
				<div class=""></div>
			</div>
		</div>
	</div>
	<div class="pt45">
		<a href="#/about?id=3&title=商家入驻协议" class="box_between h40 back_fff col_156ee7 mt10 pl15">
			<div class="box_start f14">
				<div></div>商家入驻协议
			</div>
			<div class="box_end f12">
				申请即同意此协议内容
				<div class="right_icon w22 h28"></div>
			</div>
		</a>
		<div class="box_start h30 pl15 f14">填写入驻信息</div>
		<div class="back_fff">
			<div class="box_start h40 bor_b pl15 pr15">
				<div class="w100">姓名</div>
				<div class="grid_cell">
					<input class="w_b100" type="text" placeholder="请输入您的姓名">
				</div>
			</div>
			<div class="box_start h40 bor_b pl15 pr15">
				<div class="w100">联系电话</div>
				<div class="grid_cell">
					<input class="w_b100" type="text" placeholder="请输入您的联系电话">
				</div>
			</div>
			<div class="box_start h40 bor_b pl15 pr15">
				<div class="w100">店铺名称</div>
				<div class="grid_cell">
					<input class="w_b100" type="text" placeholder="请输入您的店铺名称">
				</div>
			</div>
			<div class="box_start h40 bor_b pl15 pr15">
				<div class="w100">店铺地址</div>
				<div class="grid_cell">
					<input class="w_b100" type="text" placeholder="请输入您的店铺地址">
				</div>
			</div>
			<div class="box_start h40 bor_b pl15 pr15">
				<div class="w100">营业证号</div>
				<div class="grid_cell">
					<input class="w_b100" type="text" placeholder="请输入您的营业证号">
				</div>
			</div>
		</div>
		<div class="mt40 box_center">
			<div class="w_b80 box_center h40 back_red col_fff br5 f16">下一步</div>
		</div>	
	</div>
</div>