<div class="tck sharetck" ng-if="sharetck==1">
  <i ng-click="sharetcks(1)"></i>
  <div class="sharetck-box">
    <p class="tit">分享<span ng-click="sharetcks(1)">&times;</span></p>
    <p class="txt">对方手机号：<input ng-model="sharephone" type="number"></p>
    <p class="btn"><button ng-click="sharegwcs(sharephone)">确认</button><button class="hui" ng-click="sharetcks(1)">取消</button></p>
  </div>
</div>
<div class="mainbox pad-b100">
  <div class="box gwc-tabbox clearfix mar-b40">
    <div class="gwc-tab-num fr"><!-- 已选商品<span class="red">6</span> --><button ng-click="sharegwc(0)">分享</button></div>
    <div class="gwc-tab fl"><a class="act" href="#/">本地</a>|<a href="#/gwcin">购物车IN</a>|<a href="#/gwcout">购物车OUT</a></div>
  </div>
  <div class="gwc-box box" ng-if="gwcshoplist.length>0">
     <div class="gwc-tit mar-b40">
       <ul>
         <li><span class="" ng-click="qxact()"></span>全选</li>
         <li>商品</li>
         <li>单价</li>
         <li>数量</li>
         <li>金额</li>
         <li>操作</li>
       </ul>
     </div>
     <div class="gwc-listbox">
       <div class="gwc-dp-box table" ng-repeat="mlist in gwcshoplist" id="mid{{mlist.merchants_id}}">
          <div class="gwc-dp-tit">
             <span ng-click="gwcdpact(mlist.merchants_id)"></span>{{mlist.merchantsBean.merchants_name}}<!-- <small>自营</small> -->
             <p>{{mlist.merchantsBean.express_free_price==0?'免运费':'购满￥'+mlist.merchantsBean.express_free_price+'免运费'}}</p>
          </div>
          <table cellpadding="0" cellspacing="0">
            <tr ng-repeat="slist in mlist.shoppingCarBeans" id="gwc{{slist.car_id}}">
              <td class="td1"><span val="{{slist.car_id}}" ng-click="gwcshopact(slist.car_id)"></span><!-- <p><span>满减</span>活动商品满99元，即可领取<a href="javascript:;" class="orange">赠品一件</a>>&nbsp;&nbsp;或去<a href="javascript:;">凑单></a></p> --></td>
              <td class="td2"><a target="_blank" href="index.html#/shop?shopid={{slist.goods_id}}"><i><img ng-src="{{slist.goodsBean.goods_img}}" /></i></a></td>
              <td class="td3"><a target="_blank" href="index.html#/shop?shopid={{slist.goods_id}}">{{slist.goodsBean.goods_name}}</a></td><!--<span>{{slist.goods_parameters_name}}</span>-->
              <td class="td4 red">￥<span class="red">{{slist.car_total_pc_price}}</span></td>
              <td class="td5"><p class="num"><span class="jian" ng-click="jjnum(slist.car_id,'jian',slist.goodsBean.goods_stock)">-</span><input type="tab" ng-value="slist.goods_num" ng-model="count" ng-change="jjnum(slist.car_id,'xg',slist.goodsBean.goods_stock)" ng-blur="blurnum(slist.car_id,slist.goodsBean.goods_stock)" /><span ng-click="jjnum(slist.car_id,'jia',slist.goodsBean.goods_stock)" class="jia">+</span></p><span val="{{slist.goodsBean.goods_stock}}">{{slist.goodsBean.goods_stock>0?'有货':'无货'}}</span></td>
              <td class="td6">￥<span class="red">{{slist.car_total_pc_price*slist.goods_num | number:2}}</span>
                <div class="cx-select" ng-show="slist.goodsBean.activityBeans.length!=0" sel-cx>
                  <span>促销优惠</span>
                  <ul hidden>
                    <li ng-repeat="sel in slist.goodsBean.activityBeans">{{sel.activity_name}}</li>
                  </ul>
                </div>
              </td>
              <td class="td7"><a href="javascript:;" class="red" ng-click="sharegwc(slist.car_id)">分享</a><br /><a href="javascript:;" ng-click="delgwc(slist.car_id)">删除</a></td>
            </tr>
          </table>
       </div>

     </div>
     <!--gwc-listbox end-->
     <div class="gwc-btn clearfix">
       <ul>
         <li class="g-b-1of4"><span ng-click="qxact()"></span>全选</li>
         <li class="g-b-2of4"><a href="javascript:;" class="act" ng-click="delgwc(0)">删除选中商品</a><!-- <a href="javascript:;">移到我的收藏</a> --></li>
         <li class="g-b-3of4"><label>共{{znums}}件商品，总价：</label><span>{{zmoneys | currency : '￥'}}</span></li>
         <li class="g-b-4of4"><button ng-click="goqrdd()">结算</button></li>
       </ul>
     </div>
  </div>


  <div class="gwc-box box" ng-if="gwcshoplist.length==0">
    <div class="gwc-k-box">
      <div>
        购物车空空的哦~快去看看心仪的商品吧
        <a href="index.html#/shoplist">去购物></a>
      </div>
    </div>
    <div class="guess-you-like box mar-t60" ng-if="guessyouliketotal>0">
     <div class="tit"><h1>猜你喜欢</h1><p ng-if="guessyoulikepagenum>1">{{guessyoulikepage}}/{{guessyoulikepagenum>4?'4':guessyoulikepagenum}}<span ng-click="guessyoulike(guessyoulikepage*1-1*1)"><</span><span class="act" ng-click="guessyoulike(guessyoulikepage*1+1*1)">></span></p></div>
     <div class="g-y-l-listbox clearfix">
       <div class="sj-r-list" ng-repeat="gyl in guessyoulikes">
          <ul>
            <li class="sj-l-1of5"><a href="index.html#/shop?shopid={{gyl.goods_id}}"><img ng-src="{{gyl.goods_img!=''?gyl.goods_img:'images/zw1.png'}}"  onerror="this.src='images/zw1.png'" /></a></li>
            <li class="sj-l-2of5">￥{{gyl.goods_pc_price}}<span ng-if="gyl.goods_origin_price!=0">￥{{gyl.goods_origin_price}}</span></li>
            <li class="sj-l-3of5">{{gyl.goods_name}}</li>
            <li class="sj-l-4of5"><span ng-if="gyl.is_directly==1">自营</span><span ng-if="gyl.brand_name!=''">{{gyl.brand_name}}</span></li>
            <li class="sj-l-5of5"><span>评价：<a href="javascript:;">{{gyl.assessment_count}}</a></span><span>销量：<a href="javascript:;">{{gyl.year_sales}}</a></span></li>
          </ul>
       </div>

     </div>
     <!--g-y-l-listbox end-->
    </div>
  </div>

  <div class="gwc-box box" ng-if="membershow==0">
    <div class="gwc-k-box">
      <div>
        你还没登录哦！
        <a href="javacript:;" ng-click="tckshow(1)">去登录></a>
      </div>
    </div>
    <div class="guess-you-like box mar-t60" ng-if="guessyouliketotal>0">
     <div class="tit"><h1>猜你喜欢</h1><p ng-if="guessyoulikepagenum>1">{{guessyoulikepage}}/{{guessyoulikepagenum>4?'4':guessyoulikepagenum}}<span ng-click="guessyoulike(guessyoulikepage*1-1*1)"><</span><span class="act" ng-click="guessyoulike(guessyoulikepage*1+1*1)">></span></p></div>
     <div class="g-y-l-listbox clearfix">
       <div class="sj-r-list" ng-repeat="gyl in guessyoulikes">
          <ul>
            <li class="sj-l-1of5"><a href="index.html#/shop?shopid={{gyl.goods_id}}"><img ng-src="{{gyl.goods_img!=''?gyl.goods_img:'images/zw1.png'}}"  onerror="this.src='images/zw1.png'" /></a></li>
            <li class="sj-l-2of5">￥{{gyl.goods_pc_price}}<span ng-if="gyl.goods_origin_price!=0">￥{{gyl.goods_origin_price}}</span></li>
            <li class="sj-l-3of5">{{gyl.goods_name}}</li>
            <li class="sj-l-4of5"><span ng-if="gyl.is_directly==1">自营</span><span ng-if="gyl.brand_name!=''">{{gyl.brand_name}}</span></li>
            <li class="sj-l-5of5"><span>评价：<a href="javascript:;">{{gyl.assessment_count}}</a></span><span>销量：<a href="javascript:;">{{gyl.year_sales}}</a></span></li>
          </ul>
       </div>

     </div>
     <!--g-y-l-listbox end-->
    </div>
  </div>
</div>

