{:widget('base/breadcrumbs',[
[
['href'=>url('Horder/index'),'text'=>'今日新增'],
]
])}
<div class="page-container">
	<div class="text-l">
		<form class="search"  method="get">
			<input name="p" value="" hidden>
			<span class="select-box" style="width:150px">
            <select name="order_state"  class="select select-box inlin" id="state" style="width:120px">
                <option value="">请选择状态</option>
                <option value="wait_pay" {if condition="$Request.get.order_state eq 'wait_pay'"}selected{/if}>待支付</option>
				<option value="wait_send" {if condition=" $Request.get.order_state eq 'wait_send'"}selected{/if}>待发货</option>
				<option value="wait_receive" {if condition="$Request.get.order_state eq 'wait_receive'"}selected{/if}>待收货</option>
				<option value="wait_assessment" {if condition="$Request.get.order_state eq 'wait_assessment'"}selected{/if}>待评价</option>
				<option value="end" {if condition="$Request.get.order_state eq 'end'"}selected{/if}>已完成</option>
				<option value="cancel" {if condition="$Request.get.order_state eq 'cancel'"}selected{/if}>已取消</option>
				<option value="returns" {if condition="$Request.get.order_state eq 'returns'"}selected{/if}>已退款</option>
            </select>
            </span>
			<input type="text" class="input-text" style="width:200px" name="order_no" value="{$Request.get.order_no}" id="order_no" placeholder="搜索订单号/下单会员/收件人">
			<button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
			<span style="float:right;padding:0px 10px 10px 0" >
                <a href="javascript:void(0)" title="导出Excl"  onclick="xiazai()" class="btn btn-default radius" >
                    <i class="Hui-iconfont">&#xe644;</i>导出
                </a>
            </span>
		</form>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius">
                <i class="Hui-iconfont">&#xe6e2;</i> 批量删除
            </a>
		</span>
		<span class="r">共有数据：<strong>{$count|default=0}</strong> 条</span> </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="120">订单号</th>
				<th width="70">订单收件人</th>
				<th width="70">收件人电话</th>
				<th width="50">总金额</th>
				<th width="50">实付金额</th>
				<!--<th width="50">成本价</th>-->
				<th width="50">下单会员</th>
				<th width="80">会员账号</th>
				<th width="60">订单状态</th>
				<!--<th width="70">寄送方式</th>-->
				<th width="120">下单时间</th>
				<th width="80">操作</th>
			</tr>
			</thead>
			<tbody>
			{volist name="list" id="vo"}
			<tr class="text-c">
				<td><input type="checkbox" value="{$vo.order_merchants_id}" name="checkbox"></td>
				<td>{$vo.order_no}</td>
				<td>{$vo.address_name}</td>
				<td>{$vo.address_mobile}</td>
				<td>{$vo['order_total_price']}</td>
				<td>{$vo['order_actual_price']}</td>
				<!--<td>{$vo['cost']}</td>-->
				<td>{$vo['username']}</td>
				<td>{$vo['phone']}</td>
				<td>
					{switch name="$vo['order_state']"}
					{case value="wait_pay"}待付款{/case}
					{case value="wait_send"}待发货{/case}
					{case value="wait_receive"}待收货{/case}
					{case value="wait_assessment"}待评价{/case}
					{case value="end"}已结束{/case}
					{case value="wait_group"}等待团购{/case}
					{case value="cancel"}已取消{/case}
					{case value="returns"}已退款{/case}
					{/switch}
				</td>
				<td>{$vo.create_time}</td>
				<td class="td-manage">
					<a title="订单详情" class="check_lock" data="{$vo.order_no}" data-action="{:url('Horder/order_view',array('id'=>$vo['order_no']))}"   style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
					<a title="订单删除" href="javascript:;" onclick="del(this,{$vo.order_merchants_id});" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
				</td>
			</tr>
			{/volist}
			</tbody>
		</table>
		{$page}
	</div>
</div>
<script type="text/javascript">
    function getChecked() {
        var gids = new Array();
        $.each($('input[name="checkbox"]:checked'), function(i, n){
            gids.push( $(n).val() );
        });
        return gids;
    }
    function datadel(kid){
        kid = kid ? kid : getChecked();
        kid = kid.toString();
        if(kid == ''){
            layer.msg('你没有选择任何选项！', {offset: 95,shift: 6});
            return false;
        }
        layer.confirm('确认要删除吗？',function(index){
            $.post("{:url('Horder/del_order')}", {ids:kid}, function(data){
                if( data.status == 'ok' ){
                    layer.msg(data.data.info,{icon:1,time:1000});
                    window.location.href = data.data.url;
                }else{
                    layer.msg(data.info,{icon:1,time:1000});
                }
            },'json');
        })
    }
	/*用户-添加*/
    function member_add(title,url,w,h){
        layer_show(title,url,w,h);
    }
	/*用户-查看*/
    function member_show(title,url,id,w,h){
        layer_show(title,url,w,h);
    }


	/*用户-删除*/
    function del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $.post("{:url('Horder/del_order')}", {ids:id}, function(data){
                if( data.status == 'ok' ){
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:1000});
                }else{
                    layer.msg(data.data,{icon:5,time:1000});
                }
            },'json');
        });
    }
    function xiazai(){
        var download = 'download';
        var url = window.location.href;
        var url = url.split(".html")[0];
        if(url.split("?")[1]){
            window.location.href=url+"&act="+download+'.html';
        }else{
            window.location.href=url+"/act/"+download+'.html';
        }
    }
    function getnums(){
        var num = $("#nus").val();
        window.location.href="__SELF__&num="+num;
    }

    function lock(v) {
        $.post("{:url('Horder/lock_order')}", {id: v}, function (data) {
            console.log(data);
            if (data['status'] == 'ok') {
                alert(data.info);
                window.location.href = window.location.href;
            } else {
                alert(data.info);
            }
        }, 'json');
    }

</script>
<script type="text/javascript" src="/static/layui/lay/dest/layui.all.js"></script>