<div class="wrapper">
	<!--header-->
	<div class="p_f t0 l0 w_b100 back_fff z100">
		<div class="box_center h45 pr10 pl10 w_b100 bor_b">
			<div class="grid_cell box_start">
				<div class="left_icon w22 h28" ng-click="backFun()"></div>
			</div>
			<div class="f16 grid_cell box_center">分类商品</div>
			<div class="grid_cell box_end">
				<div class=""></div>
			</div>
		</div>
		<!-- tab -->
		<div class="box_between back_fff h45 f14 col_999 bor_b over_x">
			<div class="box_center grid_cell pl5 pr5 ml10 mr10 h45" ng-class="{nav_act:uuid==class.class_uuid,col_red:uuid==class.class_uuid}" ng-repeat="class in merchants_class track by $index" ng-click="shopClassGoodsClick(class.class_uuid)" ng-bind="class.class_name"></div>
		</div>
	</div>
	<!-- content -->
	<div class="pt90">
		<!-- 列表项 -->
		<a href="#/goodsDetails?goods_id={{goods.goods_id}}" class="box_start h110 back_fff bor_b pl10 pr10 p_r" ng-repeat="goods in shopClassGoods track by $index">
			<div class="w90 h90">
				<img lazy-src="{{goods.goods_img}}" alt="">
			</div>
			<div class="pl10 grid_cell box_direction h90">
				<div class="f14 grid_cell">
					<div class="wbyc2" ng-bind="goods.goods_name"></div>
				</div>
				<div class="col_red f12 ">现价：¥<em class="f16" ng-bind="goods.goods_now_price"></em></div>
				<div class="col_999 scx box_start h20">原价：¥<em ng-bind="goods.goods_origin_price"></em></div>
			</div>
			<div class="p_a b10 r10 box_center back_red br15 h25 pl15 pr15 col_fff f12">立即购买</div>
		</a>
	</div>
</div>