
@charset "utf-8";
/*****************************************
* @Author: StoryPeanut
* @Date: 2017-11-08
* @Last Modified by: StoryPeanut
* @Last Modified time: 2017-11-08
********************************************/
body{font-size: 0.2rem;background:#eef3f5;}
.wrapper{height: 100%;max-width: 640px;min-width: 320px;margin: 0 auto!important}

.nav_act { border-bottom: 0.04rem solid red }

.left_white_icon { background: url(../src/assets/icon/fanhui-bai@2x.png) no-repeat center; background-size: cover; }
.left_icon { background: url(../src/assets/icon/fanhui-hei@2x.png) no-repeat center; background-size: cover; }
.right_icon { background: url(../src/assets/icon/xiangzuo-hui@2x.png) no-repeat center;background-size: cover; }

/*直播间*/
.liveRoom_warp{height: 100%;width: 100%;margin: 0 auto!important;position: relative;}
.liveRoom_app{position: absolute;width: 100%;top: 0;bottom: 0;overflow-x: hidden;-webkit-overflow-scrolling: touch;z-index: 1;}
.liveRoom_touch{-webkit-overflow-scrolling: touch;z-index: 1;overflow: auto;overflow-x: hidden;}
.liveRoom_close_icon { background: url(../src/assets/icon/kanzhibo_guanbi@2x.png) no-repeat center;background-size: cover; }
.liveRoom_goods_icon { background: url(../src/assets/icon/kanzhibo_shangpingku@2x.png) no-repeat center;background-size: cover; }
.liveRoom_gift_icon { background: url(../src/assets/icon/zengsongliwu@2x.png)no-repeat center;background-size: cover; }
.liveRoom_msg_icon { background: url(../src/assets/icon/fasongxiaoxi@2x.png) no-repeat center;background-size: cover; }
.liveRoomPlayImg { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; object-fit: cover; filter: blur(4px);}
.diamonds_icon { background: url(../src/assets/icon/zuanshi@2x.png) no-repeat center; background-size: cover; }
.left_yellow_icon {background: url(../src/assets/icon/arrow_yellow@2x.png) no-repeat center;background-size: cover;}

/*商品列表*/
.price_sort_icon { background: url(../src/assets/icon/Sales-volume_unselected@2x.png) no-repeat center;background-size: cover; }
.price_sort_rise_icon { background: url(../src/assets/icon/Sales-volume_High-to-low@2x.png) no-repeat center;background-size: cover; }
.price_sort_drop_icon { background: url(../src/assets/icon/Sales-volume_Low-to-high@2x.png) no-repeat center;background-size: cover; }

/*商品详情*/
.ensure_icon { background: url(../src/assets/icon/To-examine_Success_red@2x.png) no-repeat center;background-size: cover; }
.close_red_icon { background: url(../src/assets/icon/shouhou-guanbi@2x.png) no-repeat center; background-size: cover; }
.close_gray_icon { background: url(../src/assets/icon/xinzendizhi-guanbi@2x.png) no-repeat center;background-size: cover; }
.specItem_act { color: #fff;background:red; }
.kf_icon { background: url(../src/assets/icon/xiangqing_kefu@2x.png) no-repeat center;background-size: cover; }
.shop_icon { background: url(../src/assets/icon/xiangqing_dianpu@2x.png) no-repeat center;background-size: cover; }
.collection_icon { background: url(../src/assets/icon/xiangqing_shoucang_hui@2x.png) no-repeat center;background-size: cover; }
.collection_act_icon { background: url(../src/assets/icon/xiangqing_shoucang_hong@2x.png) no-repeat center;background-size: cover; }


/*确认订单*/
.address_icon { background: url(../src/assets/icon/querendingdan-dizhi@2x.png) no-repeat center;background-size: cover; }
.add_address_icon { background: url(../src/assets/icon/querendingdan-wudizhi-tianjia@2x.png) no-repeat center; background-size: cover; }
.colour_line_icon { background: url(../src/assets/icon/xiangqing_qrdd_caidai@2x.png) no-repeat center;background-size: cover; }

/* 个人中心 */
.stay_payment_icon{background:url(../src/assets/icon/wode_daifukuan@2x.png) no-repeat center;background-size: cover;}
.stay_delivery_icon{background:url(../src/assets/icon/wode_daifahuo@2x.png) no-repeat center;background-size: cover;}
.stay_Goods_receipt_icon{background:url(../src/assets/icon/wode_daishouhuo@2x.png) no-repeat center;background-size: cover;}
.complete_icon{background:url(../src/assets/icon/wode_daipingjia@2x.png) no-repeat center;background-size: cover;}
.refund_icon{background:url(../src/assets/icon/wode_tuikuanshou@2x.png) no-repeat center;background-size: cover;}
.msg_white_icon { background: url(../src/assets/icon/wode_xiaoxi@2x.png) no-repeat center;background-size: cover; }
.man_icon { background: url(../src/assets/icon/man@2x.png) no-repeat center;background-size: cover; }
.woman_icon { background: url(../src/assets/icon/icon_woman@2x.png) no-repeat center;background-size: cover; }
.refund_line_icon { background: url(../src/assets/icon/wode_xian@2x.png) no-repeat center;background-size: cover; }
	/*功能区icon*/
	.my_account_icon { background: url(../src/assets/icon/wode_zhanghao@2x.png) no-repeat center;background-size: cover; }
	.my_collection_icon { background: url(../src/assets/icon/wode_shoucang@2x.png) no-repeat center;background-size: cover; }
	.my_followt_icon { background: url(../src/assets/icon/wode_guanzhu@2x.png) no-repeat center;background-size: cover; }
	.my_address_icon { background: url(../src/assets/icon/wode_dizhi@2x.png) no-repeat center; background-size: cover; }
	.my_coupon_icon { background: url(../src/assets/icon/wode_youhuiquan@2x.png) no-repeat center;background-size: cover; }
	.becoming_a_seller_icon { background: url(../src/assets/icon/wode_chengweimaijia@2x.png) no-repeat center;background-size: cover; }
	.set_up_icon { background: url(../src/assets/icon/wode_shezhi@2x.png) no-repeat center;background-size: cover; }
	.help_icon { background: url(../src/assets/icon/wode_bangzhu@2x.png) no-repeat center;background-size: cover; }
	.about_icon { background: url(../src/assets/icon/wode_guanyuwomen@2x.png) no-repeat center;background-size: cover; }
	 
/*我的地址*/
.check_icon{background:url(../src/assets/icon/tongyi-hui@2x.png) no-repeat center;background-size: cover;}
.check_act_icon{background:url(../src/assets/icon/tongyi@2x.png) no-repeat center;background-size: cover;}
.del_icon{background:url(../src/assets/icon/wode_dizhi_shanchu@2x.png) no-repeat center;background-size: cover;}
.edit_icon{background:url(../src/assets/icon/wode_dizhi_bianji@2x.png) no-repeat center;background-size: cover;}

/*购物车*/
.cart_null_icon { background: url(../src/assets/icon/gouwuche_kong@2x.png) no-repeat center;background-size: cover; }
.cart_white_icon { background: url(../src/assets/icon/Shopping-Cart@2x.png) no-repeat center;background-size: cover; }

/*物流*/
.logisticsLi{top:0;left: -0.46rem;}







