<div class="wrapper">
	<!--header-->
	<div class="p_f t0 l0 w_b100 back_fff z100">
		<div class="box_center h45 pl10 pr10 header_back_icon">
			<div class="box_start">
				<div class="left_white_icon w22 h28" ng-click="backFun()"></div>
			</div>
			<div class="f12 col_fff grid_cell box_center pl15 pr15">
				<input ng-model="searchTxt" class="backRgba_fff_5 br5 pl10 pr10 w_b100 h25 col_fff" type="text" placeholder="输入您要搜索的店铺或者主播名称">
			</div>
			<div class="box_end col_fff f14" ng-click="searchClick()">搜索</div>
		</div>
		<!-- tab -->
		<div ng-if="searchState">
			<!-- 一级 -->
			<div class="box_between back_fff h45 f12 col_999 bor_b" ng-if="goodsListInfo.length !=0">
				<div class="grid_cell box_center" ng-click="oneLevelClick(0)">
					<div class="h42 pl10 pr10 box_center" ng-class="{nav_act:memberType==0,col_red:memberType==0}">商铺</div>
				</div>
				<div class="grid_cell box_center" ng-click="oneLevelClick(1)">
					<div class="h42 pl10 pr10 box_center" ng-class="{nav_act:memberType==1,col_red:memberType==1}">主播</div>
				</div>
			</div>
			<!-- 二级 -->
			<div class="box_between back_fff h45 f12 col_999 bor_b" ng-if="memberType ==0">
				<div class="grid_cell box_center" ng-click="twoLevelClick(1)">
					<div ng-class="{col_red:type==1}">综合</div>
				</div>
				<div class="grid_cell box_center" ng-click="twoLevelClick(2)">
					<div ng-class="{col_red:type==2}">销量</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 推荐店铺 -->
	<section class="pt45" ng-if="!searchState">
		<div class="box_start h40 f14 pl15">推荐商铺</div>
		<!-- 列表项 -->
		<a href="#/shopDetails?merchants_id={{r.member_id}}" class="box_start h90 bor_b pl10 pr10 p_r back_fff" ng-repeat="r in recommendShopInfo track by $index">
			<div class="w70 h70">
				<img lazy-src="{{r.merchants_img}}" alt="">
			</div>
			<div class="pl10 grid_cell box_direction h70 w_b50">
				<div class="wbyc f12" ng-bind="r.merchants_name"></div>
				<div class="wbyc2 grid_cell f10">
					<div ng-bind="r.merchants_content"></div>
				</div>
				<div class="col_999 box_start h20 f10">月销量：<em ng-bind="r.total_sales || 0"></em></div>
			</div>
			<div class="box_end">
				进入店铺
				<div class="right_icon w22 h28 ml5"></div>
			</div>
		</a>
	</section>
	<!-- 搜索商品 -->
	<section class="pt90" ng-class="{pt90:memberType==1,pt135:memberType==0}" ng-if="searchState">
		<!-- 店铺 -->
		<div class="" ng-if="memberType==0">
			<!-- 列表项 -->
			<a href="#/shopDetails?merchants_id={{m.member_id}}" class="box_start h90 bor_b pl10 pr10 p_r back_fff" ng-repeat="m in searchListInfo track by $index">
				<div class="w70 h70">
					<img lazy-src="{{m.merchants_img}}" alt="">
				</div>
				<div class="pl10 grid_cell box_direction h70 w_b50">
					<div class="wbyc f12" ng-bind="m.merchants_name"></div>
					<div class="wbyc2 grid_cell f10">
						<div ng-bind="m.merchants_content"></div>
					</div>
					<div class="col_999 box_start h20 f10">月销量：<em ng-bind="m.total_sales || 0"></em></div>
				</div>
				<div class="box_end">
					进入店铺
					<div class="right_icon w22 h28 ml5"></div>
				</div>
			</a>
		</div>
		<!-- 主播 -->
		<div class="box_between flex_wrap p5" ng-if="memberType==1">
			<!-- 列表项 -->
			<div class="w_b50 p5" ng-repeat="item in searchListInfo track by $index" repeat-finish="setGoodsListImgH('.liveListLi')">
				<a ng-click="goLiveRoomClick($index)" class="box_center w_b100 p_r liveListLi"">
					<div class="back_000 opacity1 t0 l0 r0 b0 p_a br5_top_right br5_top_left"></div>
					<div class="p_a t0 l0 w_b100 col_fff p5 box_start">
						<div class="backRgba_black_5 box_center br15 pl10 pr10 h20 f10 maxW_b100">
							<div class="w_b100 wbyc" ng-bind="item.merchants_name"></div>
						</div>
					</div>
					<div class="p_a b0 l0 w_b100 col_fff p5">
						<div class="box_start mt5">
							<div class="backRgba_black_5 box_start br3">
								<div class="back_red br3 pl5 pr5 box_center h18 f_w" ng-show="item.live_id !=0">直播中</div>
								<div class="pl5 pr5 box_center h18"><em ng-bind="item.total_sales || 0"></em>观看</div>
							</div>
						</div>
					</div>
					<img class="br5_top_right br5_top_left" lazy-src="{{item.merchants_img}}" alt="" />
				</a>
				<div class="p5 back_fff h30 wbyc w_b100 br5_bottom_left br5_bottom_right" ng-bind="item.merchants_content"></div>
			</div>
		</div>
	</section>
</div>