
<div class="mainbox bg-f5 clearfix pad-b70 pad-t40">
  <div class="box">
     <div class="main-leftbox nav2">
        <ul>
          <li class="act1">订单中心</li>
          <li class="act"><a href="#wddd">我的订单</a></li>
          <li><a href="#tkdd">退款订单</a></li>
          <li><a href="#pjdd">评价晒单</a></li>
          <li class="act1">我的收藏</li>
          <li><a href="#spsc">商品收藏</a></li>
          <li><a href="#dpsc">店铺收藏</a></li>
          <li class="act1">资产中心</li>
          <li><a href="#wdqb">我的钱包</a></li>
          <li><a href="#xyed">信用额度</a></li>
          <li><a href="#wdjf">我的积分</a></li>
          <li><a href="#yhq">优惠券</a></li>
          <li><a href="#yhk">银行卡</a></li>
        </ul>
     </div>
     <div class="main-rightbox ddxq-box">
        <div class="ddxq-ddxx bg-fff pad60 clearfix">
           <div class="tit">订单信息</div>
           <div class="d-ddxx-left">
             <ul>
               <li class="d-d-l-1of"><label>收货人姓名：</label>{{ddxq.name}}</li>
               <li class="d-d-l-2of" ng-if="ddxq.order_state!='wait_pay'"><label>支付方式：</label><span ng-if="ddxq.pay_way=='online'">在线支付</span><span ng-if="ddxq.pay_way=='balance'">余额支付</span><span ng-if="ddxq.pay_way=='trust'">信用支付</span><span ng-if="ddxq.pay_way=='delivery_pay'">货到付款</span></li>
               <li class="d-d-l-3of clearfix"><label>买家留言：</label><p>{{ddxq.remark==''?'':ddxq.remark}}</p></li>
               <li class="d-d-l-4of" ng-if="ddxq.invoice_type=='no'"><p>发票类型：<span class="red">不开发票</span></p></li>
               <li class="d-d-l-4of" ng-if="ddxq.invoice_type=='paper'"><p>发票类型：<span class="red">纸质发票</span></p><p>发票抬头：<span class="red">{{ddxq.invoice_rise_type=='company'?'公司':'个人'}}</span></p><p>发票内容：<span class="blue">{{ddxq.invoice_content}}</span></p></li>
               <li class="d-d-l-4of" ng-if="ddxq.invoice_type=='electron'"><p>发票类型：<span class="red">纸质发票</span></p><p>发票抬头：<span class="red">{{ddxq.invoice_rise_type=='company'?'公司':'个人'}}</span></p><p>发票内容：<span class="blue">{{ddxq.invoice_content}}</span></p></li>
               <li class="d-d-l-4of" ng-if="ddxq.invoice_type=='increment'"><p>发票类型：<span class="red">增值税发票</span></p></li>
               <li class="d-d-l-4of">订单编号：<span>{{ddxq.order_no}}</span></li>
               <li class="d-d-l-5of">创建时间：<span>{{ddxq.create_time | limitTo:19}}</span></li>
             </ul>
           </div>
           <div class="d-ddxx-right">
             <ul>
               <li class="d-d-r-1of">订单状态：<span class="red">{{ddxq.order_state_show}}</span></li>
               <li class="d-d-r-2of" ng-if="ddxq.order_state=='wait_pay'"><a href="gwc.html#/gopay?orderid={{ddxq.order_id}}&paynum={{ddxq.order_total_price}}"><button>立即付款</button></a></li>
               <li class="d-d-r-2of" ng-if="ddxq.order_state=='wait_send'"><a target="_blank" href="http://kefu.easemob.com/webim/im.html?tenantId={{ddxq.merchantsBean.custom_id}}"><button>联系客服</button></a></li>
               <li class="d-d-r-2of" ng-if="ddxq.order_state=='wait_receive'"><button ng-click="qrshop(ddxq.order_id)">确认收货</button></li>
               <li class="d-d-r-2of" ng-if="ddxq.order_state=='wait_assessment'"><a href="#/pingjia?oid={{ddxq.order_id}}"><button>评价晒单</button></a></li>
               <li class="d-d-r-2of" ng-if="ddxq.order_state=='end'"><button>交易完成</button></li>
             </ul>
           </div>
        </div>
        <div class="ddxq-wlxx bg-fff mar-t20 pad60 clearfix" ng-if="ddxq.order_state=='wait_receive'||ddxq.order_state=='wait_assessment'||ddxq.order_state=='end'">
           <div class="d-wlxx-left">
             <ul>
               <li class="d-w-l-1of">物流信息</li>
               <li class="d-w-l-2of">运单号：{{ddxq.logistics_no}}</li>
               <li class="d-w-l-3of">快递公司：{{wlxqs.logisticsBean.logistics_name}}</li>
             </ul>
           </div>
           <div class="d-wlxx-right">
              <ul>
                <li ng-class="{act:$index==0}" ng-repeat="wl in wlxqs.logisticsDetailBeans">{{wl.logistics_time | limitTo : 19}}&nbsp;{{wl.logistics_context}}</li>
              </ul>
           </div>
        </div>
        <div class="ddxq-spxx bg-fff mar-t20">
           <div class="d-s-tit">
             <ul>
               <li>商品</li>
               <li>单价</li>
               <li>数量</li>
               <li>小计</li>
             </ul>
           </div>
           <div class="d-s-shopbox">
              <ul ng-repeat="shop in ddxq.orderGoodsBeans">
                <li><a target="_blank" href="index.html#/shop?shopid={{shop.goods_id}}"><span><img ng-src="{{shop.goods_img==''?'images/zw1.png':shop.goods_img}}" /></span>{{shop.goods_name}}</a></li>
                <li>￥{{shop.goods_price}}</li>
                <li>ｘ{{shop.goods_num}}</li>
                <li>￥{{shop.goods_price*shop.goods_num | number :2}}</li>
              </ul>
           </div>
           <div class="d-s-money">
             <ul>
               <li>共{{ddxq.orderGoodsBeans.length}}件商品：<span>￥{{ddxq.order_actual_price | number :2}}</span></li>
               <li>运费：<span class="blue">￥{{ddxq.express_price?ddxq.express_price:0 | number :2}}</span></li>
               <li>积分抵扣：<span>-￥{{ddxq.deduct_integral_price?ddxq.deduct_integral_price:0 | number :2}}</span></li>
               <li>优惠券：<span>-￥{{ddxq.coupon_price?ddxq.coupon_price:0 | number :2}}</span></li>
               <li>订单金额：<span class="red">￥{{ddxq.order_actual_price | number :2}}</span></li>
             </ul>
           </div>
        </div>
     </div>
     <!--main-rightbox end-->
  </div>
</div>