<div class="wrapper">
	<!--header-->
	<div class="p_f t0 l0 w_b100 back_fff pl10 pr10 z100 bor_b">
		<div class="box_center h44">
			<div class="grid_cell box_start">
				<div class="left_icon w22 h28" ng-click="backFun()"></div>
			</div>
			<div class="f16 grid_cell box_center">我的地址</div>
			<div class="grid_cell box_end">
				<div class=""></div>
			</div>
		</div>
	</div>
	<div class="pt45">
		<!-- 地址列表 -->
		<div class="back_fff f12 mb10" ng-repeat="item in addressListInfo track by $index">
			<div class="p15">
				<div class="box_between">
					<div class="maxW_b50 box_start wbyc">收件人：<span ng-bind="item.address_name"></span> </div>
					<div class="box_end">联系电话：<span ng-bind="item.address_mobile"></span></div>
				</div>
				<div class="mt10">
					寄送地址：
					<span ng-bind="item.address_province"></span>
					<span ng-bind="item.address_city"></span>
					<span ng-bind="item.address_country"></span>
					<span ng-bind="item.address_detailed"></span>
				</div>
			</div>
			<div class="box_between h40 bor_t pl15 pr15">
				<div class="box_start" ng-click="setAddressFun(item.address_id,1)">
					<div class="w28 h28 check_icon" ng-class="{check_act_icon:item.is_default==1}"></div>
					<div class="">默认地址</div>
				</div>
				<div class="box_end">
					<div class="box_center" ng-click="setAddressFun(item.address_id,2)">
						<div class="w25 h28 del_icon"></div>
						<div>删除</div>
					</div>
					<div class="box_center ml20" ng-click="openAddressModel(2,item)">
						<div class="w25 h28 edit_icon"></div>
						<div>编辑</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="box_center p_f b0 l0 w_b100 h45 back_red col_fff f16" ng-click="openAddressModel(1)">添加新地址</div>

	<!-- 新增或编辑收货地址model -->
	<div class="add_addressModel hide">
		<div class="mk" close-address-model></div>
		<div class="p_f b0 l0 w_b100 z101">
			<div class="h45 back_ef box_between pl15 pr15">
				<div class="w28 h28"></div>
				<div class="f16 grid_cell t_c">新增收获地址</div>
				<div class="w28 h28 close_gray_icon" close-address-model></div>
			</div>
			<div class="back_fff pl15 pr15 pb20 bor_t f14">
				<div class="h55 box_start">
					<div class="w_b30">收货人</div>
					<div class="grid_cell">
						<input ng-model="name" class="w_b100" type="text" placeholder="姓名">
					</div>
				</div>
				<div class="h55 box_start bor_t">
					<div class="w_b30">联系电话</div>
					<div class="grid_cell">
						<input ng-model="mobile" class="w_b100" type="text" placeholder="联系电话">
					</div>
				</div>
				<div class="h55 box_start bor_t">
					<div class="w_b30">选择地址</div>
					<div class="grid_cell">
						<input id='city-picker' class="" type="text" placeholder='请选择省市区县'>
					</div>
				</div>
				<div class="h55 box_start bor_t">
					<div class="w_b30">详细地址</div>
					<div class="grid_cell">
						<input ng-model="address_detailed" class="w_b100" type="text" placeholder="如街道、楼层、门牌号等">
					</div>
				</div>
				<div class="h55 box_start bor_t">
					<div class="w_b30">邮政编码</div>
					<div class="grid_cell">
						<input ng-model="address_zip_code" class="w_b100" type="text" placeholder="邮政编码（选填）">
					</div>
				</div>
				<div class="h55 box_between bor_t" ng-hide="address_model==2 && is_default==1">
					<div class="">设置为默认地址</div>
					<div class="w22 h22"  ng-class="{true:'check_act_icon',false:'check_icon'}[is_default==1]" ng-click="addSetDefaultClick(is_default)"></div>
				</div>
			</div>
			<div class="h45 w_b100 box_center f16 back_red col_fff" ng-click="add_edit_addressFun()">确定</div>
		</div>
	</div>
</div>