<div class="wrapper">
	<!--header-->
	<div class="p_f t0 l0 w_b100 back_fff pl10 pr10 z100 bor_b">
		<div class="box_center h44">
			<div class="grid_cell box_start">
				<div class="left_icon w22 h28" ng-click="backFun()"></div>
			</div>
			<div class="f16 grid_cell box_center">消息中心</div>
			<div class="grid_cell box_end">
				<div class=""></div>
			</div>
		</div>
	</div>
	<div class="pt45">
		<a href="#/newsDetails?newsType=2" class="box_between h50 back_fff pl10 pr10 bor_b">
			<div>订单消息</div>
			<div class="right_icon w22 h28"></div>
		</a>
		<a href="#/newsDetails?newsType=1" class="box_between h50 back_fff pl10 pr10">
			<div>系统消息</div>
			<div class="box_end">
				<div class="p_r hide">
					<div class="p_a t_f10 r_f5 col_red">+</div>
					<div class="br50 col_fff back_red f10 box_center h18 w18">1</div>
				</div>
				<div class="right_icon w22 h28 ml5"></div>
			</div>
		</a>
	</div>
</div>