{php}
$mid = input('get.member_id');
$mid?$text='编辑商户':$text='编辑商户';
{/php}
{:widget('base/breadcrumbs',[
[
['href'=>url('Merchants/index'),'text'=>'商户列表'],
['href'=>'','text'=>$text]
]
])}
<div class="page-container">
    <div id="big"></div>
    <div id="big2"></div>
    <form class="form form-horizontal" id="form" method="post">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red"></span>店铺名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" name ="merchants_name" value="{$re['merchants_name']?$re['merchants_name']:''}"  id="merchants_name" name="merchants_name"style="width: 50%" />
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red"></span>联系人姓名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="contact_name" class="input-text" value="{$re['contact_name']?$re['contact_name']:''}"  id="contact_name" style="width: 50%"/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red"></span>联系电话：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$re['contact_mobile']?$re['contact_mobile']:''}"  id="contact_mobile" name="contact_mobile" style="width: 50%"/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red"></span>公司名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="company_name" class="input-text" value="{$re['company_name']?$re['company_name']:''}"  id="company_name" style="width: 50%"/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red"></span>公司电话：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$re['company_mobile']?$re['company_mobile']:''}"  id="company_mobile" name="company_mobile" style="width: 50%"/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>地址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box" style="width: 33%">
                    <select name="sheng" onchange="area_linke1(this.value)" class="select">
                        <option value="">请选择</option>
                        {volist name="sheng" id="l"}
                            <option value="{$l.id}" {if condition=" $re.merchants_province eq $l.name "}selected{else/}{/if}>{$l.name}</option>
                        {/volist}
                    </select>
				</span>
                <span class="select-box" style="width: 33%">
                    <select name="shi" id="shi" onchange="area_linke2(this.value)" class="select">
                            <option value=''>请选择（市）</option>
                            {volist name="re.shi" id="s"}
                                <option value="{$s.id}" {if condition=" $re.city_id eq $s.id "}selected{else/}{/if}>{$s.name}</option>
                        {/volist}
                    </select>
                </span>
                <span class="select-box" style="width: 33%">
                    <select name="qu" id="qu" class="select">
                        <option value=''>请选择（区/县）</option>
                        {volist name="re.qu" id="s"}
                            <option value="{$s.id}" {if condition=" $re.area_id eq $s.id "}selected{else/}{/if}>{$s.name}</option>
                        {/volist}
                    </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red"></span>店铺地址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$re['merchants_address']?$re['merchants_address']:''}"  id="merchants_address" name="merchants_address" style="width: 50%"/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red"></span>店铺图片：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="droparea spot" id="logo_img" style="background-image: url('{$re.merchants_img?$re.merchants_img:''}');background-size: 220px 160px;" >
                    <div class="instructions">店铺图片</div>
                    <div id="logo"></div>
                    <input type="hidden" name="merchants_img" id="logo_url" value="{$re['merchants_img']?$re['merchants_img']:''}" />
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red"></span>法人照片：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="droparea spot" id="image2" style="background-image: url('{$re.legal_img?$re.legal_img:''}');background-size: 220px 160px;" >
                    <div class="instructions">法人照片</div>
                    <div id="uparea2"></div>
                    <input type="hidden" name="legal_img" id="image_2" value="{$re['legal_img']?$re['legal_img']:''}" />
                </div>
                <div class="droparea spot" id="image3" style="background-image: url('{$re.legal_face_img?$re.legal_face_img:''}');background-size: 220px 160px;" >
                    <div class="instructions">正面照</div>
                    <div id="uparea3"></div>
                    <input type="hidden" name="legal_face_img" id="image_3" value="{$re['legal_face_img']?$re['legal_face_img']:''}" />
                </div>
                <div class="droparea spot" id="image4" style="background-image: url('{$re.legal_opposite_img?$re.legal_opposite_img:''}');background-size: 220px 160px;" >
                    <div class="instructions">反面照</div>
                    <div id="uparea4"></div>
                    <input type="hidden" name="legal_opposite_img" id="image_4" value="{$re['legal_opposite_img']?$re['legal_opposite_img']:''}" />
                </div>
                <div class="droparea spot" id="image5" style="background-image: url('{$re.legal_hand_img?$re.legal_hand_img:''}');background-size: 220px 160px;" >
                    <div class="instructions">手持照</div>
                    <div id="uparea5"></div>
                    <input type="hidden" name="legal_hand_img" id="image_5" value="{$re['legal_hand_img']?$re['legal_hand_img']:''}" />
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red"></span>营业执照：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="droparea spot" id="image6" style="background-image: url('{$re.business_img?$re.business_img:''}');background-size: 220px 160px;" >
                    <div class="instructions">三证合一营业执照</div>
                    <div id="uparea6"></div>
                    <input type="hidden" name="business_img" id="image_6" value="{$re['business_img']?$re['business_img']:''}" />
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">店铺简介：</label>
            <div class="formControls col-xs-8 col-sm-9"style="width: 50%">
                <textarea name="merchants_content" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入10个字符" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！" onKeyUp="textarealength(this,200)">{$re.merchants_content}</textarea>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>直播打赏比例：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$re['dashang_scale']?$re['dashang_scale']:''}" placeholder="" id="dashang_scale" name="dashang_scale" style="width: 50%"/>&nbsp;%
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>商户销售比例：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$re['sell_scale']?$re['sell_scale']:''}" placeholder="" id="sell_scale" name="sell_scale" style="width: 50%"/>&nbsp;%
            </div>
        </div>
        <div class="row cl skin-minimal">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>主播直播分类：</label>
            <div class="formControls col-xs-8 col-sm-9">
                {volist name="class" id="vo"}
                <div class="check-box">
                    <input type="checkbox" id="checkbox-1"name="tag[]" value="{$vo.live_class_id}"{if condition="$vo.is_selected eq 1"}checked{/if}>
                    <label for="checkbox-1">{$vo.tag}</label>
                </div>
                {/volist}
            </div>
        </div>
        <div class="row cl skin-minimal">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>经营商品分类：</label>
            <div class="formControls col-xs-8 col-sm-9">
                {volist name="parent_class" id="vo"}
                <div class="check-box">
                    <input type="checkbox" id="checkbox-1" name="goods_class[]" value="{$vo.class_id}"{if condition="$vo.is_selected eq 1"}checked{/if}>
                    <label for="checkbox-1">{$vo.class_name}</label>
                </div>
                {/volist}
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button  class="submit btn btn-primary radius"  type="button"><i class="Hui-iconfont">&#xe632;</i> 保存并提交</button>
                <!--<button onClick="article_save();" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存草稿</button>-->
                <button onClick="removeIframe();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                <input type="hidden" class="input-text" value="{$re.merchants_id?$re.merchants_id:''}" placeholder=""  name="merchants_id">
            </div>
        </div>
    </form>
</div>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    $(document).ready(function(){
        var  content ;
        KindEditor.ready(function(K) {
            content = K.create('#content',{
                allowFileManager : true,
                uploadJson:"{:url('Tools/upload',['dirname'=>'banner'])}"
            });
        });

        KindEditor.ready(function(K) {
            K.create();
            var editor = K.editor({
                allowFileManager : true,
                uploadJson:"{:url('Tools/upload',['dirname'=>'banner'])}"
                //sdl:false
            });
            K('#logo').click(function() {
                console.log(1);
                editor.loadPlugin('image', function() {
                    editor.plugin.imageDialog({
                        imageUrl : K('#logo_img').val(),
                        clickFn : function(url, title, width, height, border, align) {
                            console.log(url);
                            $('#logo').css('background-image','url('+url+')').css('background-size','220px 160px');
                            K('#logo_url').val(url);
                            // K('#getImgUrl').val(url);
                            editor.hideDialog();
                        }
                    });
                });
            });

            K('#uparea1').click(function() {
                console.log(1);
                editor.loadPlugin('image', function() {
                    editor.plugin.imageDialog({
                        imageUrl : K('#image_1').val(),
                        clickFn : function(url, title, width, height, border, align) {
                            console.log(url);
                            $('#image1').css('background-image','url('+url+')').css('background-size','220px 160px');
                            K('#image_1').val(url);
                            // K('#getImgUrl').val(url);
                            editor.hideDialog();
                        }
                    });
                });
            });

            K('#uparea2').click(function() {
                console.log(1);
                editor.loadPlugin('image', function() {
                    editor.plugin.imageDialog({
                        imageUrl : K('#image_2').val(),
                        clickFn : function(url, title, width, height, border, align) {
                            console.log(url);
                            $('#image2').css('background-image','url('+url+')').css('background-size','220px 160px');
                            K('#image_2').val(url);
                            // K('#getImgUrl').val(url);
                            editor.hideDialog();
                        }
                    });
                });
            });

            K('#uparea3').click(function() {
                console.log(1);
                editor.loadPlugin('image', function() {
                    editor.plugin.imageDialog({
                        imageUrl : K('#image_3').val(),
                        clickFn : function(url, title, width, height, border, align) {
                            console.log(url);
                            $('#image3').css('background-image','url('+url+')').css('background-size','220px 160px');
                            K('#image_3').val(url);
                            // K('#getImgUrl').val(url);
                            editor.hideDialog();
                        }
                    });
                });
            });

            K('#uparea4').click(function() {
                console.log(1);
                editor.loadPlugin('image', function() {
                    editor.plugin.imageDialog({
                        imageUrl : K('#image_4').val(),
                        clickFn : function(url, title, width, height, border, align) {
                            console.log(url);
                            $('#image4').css('background-image','url('+url+')').css('background-size','220px 160px');
                            K('#image_4').val(url);
                            // K('#getImgUrl').val(url);
                            editor.hideDialog();
                        }
                    });
                });
            });

            K('#uparea5').click(function() {
                console.log(1);
                editor.loadPlugin('image', function() {
                    editor.plugin.imageDialog({
                        imageUrl : K('#image_5').val(),
                        clickFn : function(url, title, width, height, border, align) {
                            console.log(url);
                            $('#image5').css('background-image','url('+url+')').css('background-size','220px 160px');
                            K('#image_5').val(url);
                            // K('#getImgUrl').val(url);
                            editor.hideDialog();
                        }
                    });
                });
            });
            K('#uparea6').click(function() {
                console.log(1);
                editor.loadPlugin('image', function() {
                    editor.plugin.imageDialog({
                        imageUrl : K('#image_6').val(),
                        clickFn : function(url, title, width, height, border, align) {
                            console.log(url);
                            $('#image6').css('background-image','url('+url+')').css('background-size','220px 160px');
                            K('#image_6').val(url);
                            // K('#getImgUrl').val(url);
                            editor.hideDialog();
                        }
                    });
                });
            });

            K('#uparea7').click(function() {
                console.log(1);
                editor.loadPlugin('image', function() {
                    editor.plugin.imageDialog({
                        imageUrl : K('#image_7').val(),
                        clickFn : function(url, title, width, height, border, align) {
                            console.log(url);
                            $('#image7').css('background-image','url('+url+')').css('background-size','220px 160px');
                            K('#image_7').val(url);
                            // K('#getImgUrl').val(url);
                            editor.hideDialog();
                        }
                    });
                });
            });

            K('#uparea8').click(function() {
                console.log(1);
                editor.loadPlugin('image', function() {
                    editor.plugin.imageDialog({
                        imageUrl : K('#image_8').val(),
                        clickFn : function(url, title, width, height, border, align) {
                            console.log(url);
                            $('#image8').css('background-image','url('+url+')').css('background-size','220px 160px');
                            K('#image_8').val(url);
                            // K('#getImgUrl').val(url);
                            editor.hideDialog();
                        }
                    });
                });
            });

        });

        $(".submit").click(function(){
            commonAjaxSubmit('','form');
            return false;
        });

        $("#uparea1").mouseover(function(e){
            $("#big").css({top:e.pageY,right:e.pageX});//鼠标定位一个点
            var img = $('#image_1').val();
            if(img.length !== 0) {
                $("#big").html('<img src="' + $('#image_1').val() + '" width=380 height=300>');
                $("#big").show();        //show：显示
            }
        });
        $("#uparea1").mouseout(function(){
            $("#big").hide();
        });

        $("#uparea2").mouseover(function(e){
            $("#big").css({top:e.pageY,right:e.pageX});//鼠标定位一个点
            var img = $('#image_2').val();
            if(img.length !== 0) {
                $("#big").html('<img src="' + $('#image_2').val() + '" width=380 height=300>');
                $("#big").show();        //show：显示
            }
        });
        $("#uparea2").mouseout(function(){
            $("#big").hide();
        });

        $("#uparea3").mouseover(function(e){
            $("#big").css({top:e.pageY,right:e.pageX});//鼠标定位一个点
            var img = $('#image_3').val();
            if(img.length !== 0) {
                $("#big").html('<img src="' + $('#image_3').val() + '" width=380 height=300>');
                $("#big").show();        //show：显示
            }
        });
        $("#uparea3").mouseout(function(){
            $("#big").hide();
        });

        $("#uparea4").mouseover(function(e){
            $("#big").css({top:e.pageY,right:e.pageX});//鼠标定位一个点
            var img = $('#image_2').val();
            if(img.length !== 0) {
                $("#big").html('<img src="' + $('#image_4').val() + '" width=380 height=300>');
                $("#big").show();        //show：显示
            }
        });
        $("#uparea4").mouseout(function(){
            $("#big").hide();
        });

        $("#uparea5").mouseover(function(e){
            $("#big").css({top:e.pageY,right:e.pageX});//鼠标定位一个点
            var img = $('#image_5').val();
            if(img.length !== 0) {
                $("#big").html('<img src="' + $('#image_5').val() + '" width=380 height=300>');
                $("#big").show();        //show：显示
            }
        });
        $("#uparea5").mouseout(function(){
            $("#big").hide();
        });

        $("#uparea6").mouseover(function(e){
            $("#big").css({top:e.pageY,right:e.pageX});//鼠标定位一个点
            var img = $('#image_6').val();
            if(img.length !== 0) {
                $("#big").html('<img src="' + $('#image_6').val() + '" width=380 height=300>');
                $("#big").show();        //show：显示
            }
        });
        $("#uparea6").mouseout(function(){
            $("#big").hide();
        });

        $("#uparea7").mouseover(function(e){
            $("#big").css({top:e.pageY,right:e.pageX});//鼠标定位一个点
            var img = $('#image_7').val();
            if(img.length !== 0) {
                $("#big").html('<img src="' + $('#image_7').val() + '" width=380 height=300>');
                $("#big").show();        //show：显示
            }
        });
        $("#uparea7").mouseout(function(){
            $("#big").hide();
        });

        $("#uparea8").mouseover(function(e){
            $("#big").css({top:e.pageY,right:e.pageX});//鼠标定位一个点
            var img = $('#image_8').val();
            if(img.length !== 0) {
                $("#big").html('<img src="' + $('#image_8').val() + '" width=380 height=300>');
                $("#big").show();        //show：显示
            }
        });
        $("#uparea8").mouseout(function(){
            $("#big").hide();
        });

        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
    });
    function area_linke1(value){
        $.post("{:url('Merchants/get_area')}", {value:value,type:1}, function(v){
            $("#shi").html(v);
        });
    }
    function area_linke2(value) {
        $.post("{:url('Merchants/get_area')}", {value: value, type: 2}, function (v) {
            $("#qu").html(v);
        });
    }



</script>
<!--/请在上方写此页面业务相关的脚本--><!--/请在上方写此页面业务相关的脚本-->