{:widget('base/breadcrumbs',[
[
['href'=>url('Auth/index'),'text'=>'权限管理'],
['href'=>'Auth/index','text'=>'规则分组']
]
])}
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray">
        <span class="l">
            <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius">
                <i class="Hui-iconfont">&#xe6e2;</i> 批量删除
            </a>
            <a class="btn btn-primary radius"  href="{:url('Auth/editAuthGroup')}">
                <i class="Hui-iconfont">&#xe600;</i> 添加分组
            </a>
        </span>
        <span class="r">共有数据：<strong>{$count}</strong> 条</span>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <th width="40"><input name="" type="checkbox" value=""></th>
                <th class="center">ID</th>
                <th>名称</th>
                <th>状态</th>
                <th>规则列表</th>
                <th>操作 /
                    <a class=""  href="{:url('Auth/editAuthGroup')}" thtle="添加节点">
                    <i class="Hui-iconfont">&#xe600;</i>
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>
            {volist name="list" id="v"}
            <tr class="text-c">
                <td><input name="checkbox" type="checkbox" value="{$v.id}"></td>
                <td>{$v.id}</td>
                <td>{$v.title}</td>
                <td>{$v['status']?'开启':'关闭'}</td>
                <td>
                    <u><a onclick="category_edit('','{:url('Auth/editGroupRule',['id'=>$v['id'],'title'=>$v['title']])}','4','','510')" href="javascript:;;">查看权限</a></u>
                </td>
                <td class="td-manage">
                    <a style="text-decoration:none" class="ml-5"  href="{:url('Auth/editAuthGroup',['id'=>$v['id']])}" title="编辑分组">
                        <i class="Hui-iconfont">&#xe6df;</i>
                    </a>
                    <a style="text-decoration:none" class="ml-5" onClick="picture_del(this,{$v.id})" href="javascript:;" title="删除分组">
                        <i class="Hui-iconfont">&#xe6e2;</i>
                    </a>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
        {$page}
    </div>
</div>
<script type="text/javascript">
    function getChecked() {
        var gids = new Array();
        $.each($('input[name="checkbox"]:checked'), function(i, n){
            gids.push( $(n).val() );
        });
        return gids;
    }
    function datadel(kid){
        kid = kid ? kid : getChecked();
        kid = kid.toString();
        if(kid == ''){
            layer.msg('你没有选择任何选项！', {offset: 95,shift: 6});
            return false;
        }
        layer.confirm('确认要删除吗？',function(index){
        $.post("{:url('Auth/del_group')}", {ids:kid}, function(data){
            if( data.status == 'ok' ){
                layer.msg(data.info,{icon:1,time:1000});
                window.location.href = data.url;
            }else{
                layer.msg(data.info,{icon:1,time:1000});
            }
        },'json');
    })
    }
    /*图片-添加*/
    function picture_add(title,url){
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }
    /*图片-查看*/
    function picture_show(title,url,id){
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }
    /*图片-编辑*/
    function picture_edit(title,url,id){
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }
    /*图片-删除*/
    function picture_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $.post("{:url('Auth/del_group')}", {ids:id}, function(data){
                if( data.status == 'ok' ){
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:1000});
                }else{
                    layer.msg(data.info,{icon:1,time:1000});
                }
        },'json');
        });
    }
    function category_edit(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
</script>