{:widget('base/breadcrumbs',[
[
['href'=>'','text'=>'关于我们'],
]
])}
<div class="page-container">
	<div id="big"></div>
	<div id="big2"></div>
	<form class="form form-horizontal" id="form" method="post">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>企业名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="company" class="input-text" value="{$re['company']}" placeholder="企业名称" id="company" />
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>logo图片：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<div class="droparea spot" id="image1" style="background-image: url('{$re['img']}');background-size: 220px 160px;" >
					<div class="instructions" onclick="del_image('1')">删除</div>
					<div id="uparea1"></div>
					<input type="hidden" name="img" id="image_1" value="{$re['img']}" />
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>企业电话：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="tel" class="input-text" value="{$re['tel']}" placeholder="企业电话" id="tel" />
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>企业微信：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="wechat" class="input-text" value="{$re['wechat']}" placeholder="企业微信" id="wechat" />
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>企业QQ：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="qq" class="input-text" value="{$re['qq']}" placeholder="企业名称" id="qq" />
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>备案号：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="record" class="input-text" value="{$re['record']}" placeholder="备案号" id="record" />
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>企业地址：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="address" class="input-text" value="{$re['address']}" placeholder="企业地址" id="address" />
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>热线电话：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="hotline" class="input-text" value="{$re['hotline']}" placeholder="热线电话" id="hotline" />
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>企业邮箱：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="email" class="input-text" value="{$re['email']}" placeholder="企业邮箱" id="email" />
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">公告详情：</label>
			<div class="formControls col-xs-8 col-sm-9">
				{:widget('base/ueditor',['content',$re['content']])}
			</div>
		</div>
		<!--<div class="row cl">-->
			<!--<label class="form-label col-xs-4 col-sm-2">接收对象：</label>-->
			<!--<div class="formControls col-xs-8 col-sm-9">-->
				<!--<div style="line-height:30px;text-align:center;display: inline-block">-->
					<!--<input type="checkbox" name="object[]" id="all" onclick="check(this)" value="-1" class="w15 h15" <php>if(in_array(-1,$re['object']))echo 'checked';</php>  />-->
					<!--<span style="vertical-align:middle;margin-left: -2px;">全体会员</span>-->
				<!--</div>-->
				<!--<volist name="grade" id="vo" key="k">-->
					<!--<div style="line-height:30px;text-align:center;display: inline-block">-->
						<!--<input type="checkbox" name="object[]" class="other" onclick="check(this)" value="{$vo.grade_id}" class="w15 h15" style="margin-left:15px" <php>if(in_array($vo['grade_id'],$re['object'])) echo 'checked';</php>  />-->
						<!--<span style="vertical-align:middle;margin-left: -2px;">{$vo.name}</span>-->
					<!--</div>-->
				<!--</volist>-->
			<!--</div>-->
		<!--</div>-->
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button  class="submit btn btn-primary radius"  type="button"><i class="Hui-iconfont">&#xe632;</i> 保存并提交</button>
				<!--<button onClick="article_save();" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存草稿</button>-->
				<button onClick="removeIframe();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
				<input type="hidden" class="input-text" value="{$_GET['id']}" placeholder=""  name="id">
			</div>
		</div>
	</form>
</div>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
		$(document).ready(function(){
			var  content ;
			KindEditor.ready(function(K) {
				content = K.create('#content',{
					allowFileManager : true,
					uploadJson:"{:url('Tools/upload',['dirname'=>'banner'])}"
				});
			});

			KindEditor.ready(function(K) {
				K.create();
				var editor = K.editor({
					allowFileManager : true,
					uploadJson:"{:url('Tools/upload',['dirname'=>'banner'])}"
					//sdl:false
				});
				K('#uparea1').click(function() {
					console.log(1);
					editor.loadPlugin('image', function() {
						editor.plugin.imageDialog({
							imageUrl : K('#image_1').val(),
							clickFn : function(url, title, width, height, border, align) {
								console.log(url);
								$('#image1').css('background-image','url('+url+')').css('background-size','220px 160px');
								K('#image_1').val(url);
								// K('#getImgUrl').val(url);
								editor.hideDialog();
							}
						});
					});
				});

			});

			$(".submit").click(function(){
				commonAjaxSubmit('','form');
				return false;
			});

			$("#uparea1").mouseover(function(e){
				$("#big").css({top:e.pageY,right:e.pageX});//鼠标定位一个点
				var img = $('#image_1').val();
				if(img.length !== 0) {
					$("#big").html('<img src="' + $('#image_1').val() + '" width=380 height=300>');
					$("#big").show();        //show：显示
				}
			});
			$("#uparea1").mouseout(function(){
				$("#big").hide();
			});


			$('.skin-minimal input').iCheck({
				checkboxClass: 'icheckbox-blue',
				radioClass: 'iradio-blue',
				increaseArea: '20%'
			});
		})

		function changeMk(v){
			$('.tag').hide();
			$('#tag'+v).show();
		}
		function check(v){
			var name = $(v).prop("class");
			if(name == 'other'){
				$('#all').prop("checked",false);
			}else{
				if($('#all').is(":checked")){
					$('.other').prop("checked",true);
				}else{
					$('.other').prop("checked",false);
				}
			}
		}

</script>
<!--/请在上方写此页面业务相关的脚本-->