{:widget('base/breadcrumbs',[
[
['href'=>url('Home/text'),'text'=>'WEB图文信息'],
]
])}
<div class="page-container">
    <div class="text-l">
        <form class="search"  method="get">
            <input type="text" class="input-text" style="width:200px" placeholder="搜索标题" value="{$Request.get.title}" name="title">
            <button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
            <span style="float:right;padding:0px 10px 10px 0" >
            <a href="javascript:void(0)"  data-action="{:url('Home/insert_text')}" class="check_auth btn btn-primary radius" >
            <i class="Hui-iconfont">&#xe600;</i>添加图文信息
            </a>
            </span>
        </form>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius">
				<i class="Hui-iconfont">&#xe6e2;</i> 批量删除
			</a>
		</span>
        <span class="r">共有数据：<strong>{$count|default=0}</strong> 条</span> </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <th width="40"><input name="" type="checkbox" value=""></th>
                <th width="40">ID</th>
                <th width="150">名称</th>
                <th width="200">跳转值</th>
                <th width="100">创建时间</th>
                <th width="100">操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="list" id="vo"}
                <tr class="text-c">
                    <td><input name="checkbox" type="checkbox" value="{$vo.text_id}"></td>
                    <td>{$vo.text_id}</td>
                    <td><a href="{:url('Home/edit_text',['id'=>$vo['text_id']])}"><u>{$vo.title}</u></a></td>
                    <td>
                        <a title="预览" href="{:url('api/home/text',['id'=>$vo['text_id']])}" target="_blank"  class="ml-5" style="text-decoration:none">
                            <u>{php}echo config('domain'){/php}{:url('api/home/text',['id'=>$vo['text_id']])}</u>
                        </a>
                    </td>
                    <td>{$vo['create_time']}</td>
                    <td class="td-manage">
                        <a style="text-decoration:none" class="ml-5"  href="{:url('Home/edit_text',['id'=>$vo['text_id']])}" title="编辑">
                            <i class="Hui-iconfont">&#xe6df;</i>
                        </a>
                        <a title="预览" href="{:url('api/home/text',['id'=>$vo['text_id']])}" target="_blank"  class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe695;</i></a>
                        <a title="删除" href="javascript:;" onclick="del(this,'{$vo.text_id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                    </td>
                </tr>
            {/volist}
            </tbody>
        </table>
    </div>
    <div style="text-align:center">
        <span>
            {$list->render()}
        </span>
    </div>
</div>
<!--<script src="/assets/js/ZeroClipboard.js"></script>-->
<script type="text/javascript">
    $(function() {
        $("#selall").toggle(function() {
            $("input[name='ids']").each(function() {
                $(this).attr("checked", true);
            });
        },function(){
            $("input[name='ids']").each(function() {
                $(this).attr("checked", false);
            });
        });

    });

    /*用户-删除*/
    function del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $.post("{:url('Home/del_text')}", {ids:id}, function(data){
                if( data.status == 'ok' ){
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:1000});
                }else{
                    layer.msg(data.info,{icon:5,time:1000});
                }
            },'json');
        });
    }

    function datadel(kid){
        kid = kid ? kid : getChecked();
        kid = kid.toString();
        if(kid == ''){
            layer.msg('你没有选择任何选项！', {offset: 95,shift: 6});
            return false;
        }
        layer.confirm('确认要删除吗？',function(index){
            $.post("{:url('Home/del_text')}", {ids:kid}, function(data){
                if( data.status == 'ok' ){
                    layer.msg(data.data.info,{icon:1,time:1000});
                    window.location.href = data.data.url;
                }else{
                    layer.msg(data.data,{icon:5,time:1000});
                }
            },'json');
        })
    }
    function getChecked() {
        var gids = new Array();
        $.each($('input:checked'), function(i, n){
            gids.push( $(n).val() );
        });
        return gids;
    }

    function send_notice(id,v){
        var url = $(v).attr('data-action');
        var id = id;
        $.post(url,{id:id},function(data){
            console.log(data);
            if( data.status == 'ok' ){
                popup.success(data.info);
                setTimeout(function(){
                    popup.close("asyncbox_success");
                },2000);
                window.location.href = window.location.href;
            }else{
                popup.error(data.info);
                setTimeout(function(){
                    popup.close("asyncbox_error");
                },2000);
            }
        },'json');
        return false;
    }

    function change_istop(id,v){
        var id = id;
        $.post("{:url('Home/change_notice_top')}",{id:id},function(data){
            if(data['status'] == 'ok'){
                $(v).html(data['info']);
            }else{
                alert(data['info']);
            }
        },'json');
        return false;
    }

    function change_state(id,v){
        var id = id;
        $.post("{:url('Home/change_notice_state')}",{id:id},function(data){
            if(data['status'] == 'ok'){
                $(v).html(data['info']);
            }else{
                alert(data['info']);
            }
        },'json');
        return false;
    }
    function send(id,v){
        var id = id;
        $.post("{:url('Home/send_notice')}",{id:id},function(data){
            if(data['status'] == 'ok'){
                $(v).html(data['info']);
            }else{
                alert(data['info']);
            }
        },'json');
        return false;
    }

    function copy(v)
    {
        var Url2=document.getElementById("copy"+v);
        Url2.select(); // 选择对象
        document.execCommand("Copy");  // 执行浏览器复制命令
    }

</script>