<div class="page-container">
    <div class="text-l">
        <form class="search"  method="get">
            <input name="p" value="" hidden>
            <input type="text" class="input-text" style="width:230px" name="give_gift" value="{$Request.get.give_gift}" id="give_gift" placeholder="搜索主播昵称、账号">
            <input type="text" class="input-text "  id="start_time" style="width:180px" name="start_time" value="{php}echo urldecode(input('start_time')){/php}"  placeholder="开始时间" readonly>
            <input type="text" class="input-text "  id="end_time" style="width:180px" name="end_time" value="{php}echo urldecode(input('end_time')){/php}"  placeholder="结束时间" readonly>
            <button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
            <span style="float:right;padding:0px 10px 10px 0" >
                <a href="{:url('Index/index')}" class="btn btn-default radius" >
                    <i class="Hui-iconfont">&#xe625;</i>返回首页
                </a>
             </span>
            <span style="float:right;padding:0px 10px 10px 0" >
                <a href="javascript:void(0)" title="导出Excl"  onclick="xiazai()" class="btn btn-default radius" >
                    <i class="Hui-iconfont">&#xe644;</i>导出
                </a>
            </span>
        </form>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="r">共有数据：<strong>{$count|default=0}</strong> 条</span> </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <th width="90">主播昵称</th>
                <th width="90">主播头像</th>
                <th width="70">主播账号</th>
                <th width="70">礼物价格</th>
                <th width="70">电视直播收益(%)</th>
                <th width="70">收益额(单位：钻石)</th>
                <th width="50">时间</th>
            </tr>
            </thead>
            <tbody>
            {volist name="list" id="vo" key="k"}
            <tr class="text-c">
                <td>{$vo.username}</td>
                <td><img src="{$vo.header_img}" style="width:50px; height:50px; border-radius:25px;"></td>
                <td>{$vo.phone}</td>
                <td>{$vo.jewel}</td>
                <td>{$vo.tv_dashang_scale}</td>
                <td>{$vo.e_ticket}</td>
                <td>{$vo.create_time}</td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
    <div style="text-align:center">
            <span>
                {$page}
            </span>
    </div>
</div>
</script>
<script type="text/javascript" src="/static/layui/lay/dest/layui.all.js"></script>
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        var start = {
            elem: '#start_time',
            event: 'click', //触发事件
            format: 'YYYY-MM-DD hh:mm:ss', //日期格式
            istime: true, //是否开启时间选择
            isclear: true, //是否显示清空
            istoday: true, //是否显示今天
            issure: true, //是否显示确认
            festival: true,//是否显示节日
            min: '1900-01-01 00:00:00', //最小日期
            max: '2099-12-31 23:59:59', //最大日期
            choose: function(datas){
                $("#start_time").attr("value",datas);
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas //将结束日的初始值设定为开始日
            }
        };
        var end = {
            elem: '#end_time',
            event: 'click', //触发事件
            format: 'YYYY-MM-DD hh:mm:ss', //日期格式
            istime: true, //是否开启时间选择
            isclear: true, //是否显示清空
            istoday: true, //是否显示今天
            issure: true, //是否显示确认
            festival: true,//是否显示节日
            min: '1900-01-01 00:00:00', //最小日期
            max: '2099-12-31 23:59:59', //最大日期
            choose: function(datas){
                $("#end_time").attr("value",datas);
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };
        document.getElementById('start_time').onclick = function(){
            start.elem = this;
            laydate(start);
        }
        document.getElementById('end_time').onclick = function(){
            end.elem = this
            laydate(end);
        }
    });
</script>