<div class="header" id="hddb">
  <div class="header-top-box">
    <div class="header-top box">
       <div ng-include="'public/headertop.html'"></div>
       <div class="site-nav-box" site-navshow hidden>
         <div ng-include="'public/daohang.html'"></div>
       </div>
    </div>
  </div>

  <div class="logo-box box clearfix">
      <div class="logo">
         <a href="#/"><img src="images/new_homelogo.png" /></a>
      </div>
      <div class="gwc"><a target="_blank" href="gwc.html#/">购物车<span ng-if="ShoppingCartQuantity>0">{{ShoppingCartQuantity}}</span></a></div>
      <div class="inp">
         <div class="logo-inp-box">
           <div class="logo-inp-box-select act" sel-seach>
              <span val="" gid="">全部</span>
              <ul>
                <li val="1" class="red"  gid="1" sel-sort>商家</li>
                <li val="" class="red"  gid="" sel-sort>全部</li>
                <li val="{{st.goods_uuid}}"  gid="{{st.goods_id}}" ng-repeat="st in sortlist" sel-sort>{{st.goods_name}}</li>
              </ul>
           </div>
           <input ng-model="search_name" type="text" placeholder="热门关键词" /><button ng-click="goshoplist(search_name)"></button>
         </div>
         <div class="hot-search"><a target="_blank" href="#/shoplist?goodsname={{htct.search_name}}" ng-repeat="htct in hotentry" ng-class="{act:$index==0}" title="{{htct.search_name}}">{{htct.search_name}}</a></div>
      </div>
  </div>
  <div class="nav-box">
    <div class="nav box clearfix">
       <div class="sorts" ng-class="{act:navsortshow==0}">
          <span ng-click="navsortshows(navsortshow,actnothide)">商品分类</span>
          <ul class="list" ng-show="listShowHide">
            <li ng-repeat="sort in sortlist" ng-mouseover="sorthover(sort.class_uuid)" ng-mouseleave="sortleave()" a="{{$index}}">
                <a class="col_fff d_b" href="#/shoplist?gid={{sort.goods_id}}&uuid={{sort.goods_uuid}}&sortname={{sort.class_name}}">{{sort.class_name}}</a></li>
          </ul>
          <div class="sorts-center">
              <div class="sorts-center-content-show">
                  <a href="index.html#/" ng-repeat="sorter in sortbrand">{{sorter.class_name}}</a>
              </div>
          </div>
          <!--sorts-center end-->
       </div>
       <div class="nav-listbox" style="height: 48px" >
          <a href="index.html#/" style="width: {{100/navlen-0.001}}%" ng-click="listShow()" tab>首页</a>
          <a style="width: {{100/navlen}}%" href="index.html#/shoplist?class_uuid={{nav.class_uuid}}&sortname={{nav.title}}" ng-repeat="nav in navlist" ng-click="listShowContentHide()" tab>{{nav.title}}</a>
          <a style="width: {{100/navlen}}%" href="index.html#/shoplist?class_uuid={{nav.class_uuid}}&sortname={{nav.title}}" ng-repeat="nav in navlist" ng-click="listShowContentHide()" tab>{{nav.title}}</a>
       </div>
    </div>
  </div>
</div>
<!--header end-->
<!--alert tck 优化-->
<div class="tck alert" ng-if="alertshow==1">
  <i ng-click="alerttxt('',1)"></i>
  <div class="alert-box">
    <p class="tit">友情提示<span ng-click="alerttxt('',1)">&times;</span></p>
    <p class="txt">{{alerttxts}}</p>
  </div>
</div>
<!--用户登录 注册-->
<div class="tck sign" ng-if="tcksign==1">
  <i ng-click="tckhide()"></i>
  <div class="sign-box">
     <p class="tit"><span class="act" signtab>会员登录</span><span signtab>注册</span><i class="tck-btn" ng-click="tckhide()">&times</i></p>
     <ul class="sign-ul" >
       <li><label>手机号码：</label><input type="text" ng-model="signphone" placeholder="请输入手机号码" /></li>
       <li><label>密码：</label><input type="password" ng-model="signpwd" placeholder="请输入密码" /></li>
       <li><label>&nbsp;</label><a href="gwc.html#/wjmm" ng-click="tckhide()">忘记密码?</a></li>
       <li><label>&nbsp;</label><button ng-click="signbtn(signphone,signpwd)">登录</button></li>
     </ul>
     <ul class="reg-ul" hidden>
       <li><label>手机号码：</label><input type="text" ng-model="regphone" placeholder="请输入手机号码" /><p id="regphone"><!--请输入规范的手机号--></p></li>
       <li><label>验证码：</label><input ng-model="regcode" style="width: 170px" type="text" placeholder="短信验证码" /><input type="button" id="btnSendCode" ng-click="sendMessage(regphone)" value="获取验证码"/><p><!--请输入正确的验证码--></p></li>
       <li><label>输入密码：</label><input ng-model="regpwd" type="password" placeholder="请输入6-20位字母数字的组合" /><p id="regpwd"><!--请输入规范的密码--></p></li>
       <li><label>确认密码：</label><input ng-model="regpwd2" type="password" placeholder="请再次输入密码" /><p id="regpwd2"><!--2次密码不一致--></p></li>
       <li class="mar-b30"><label>&nbsp;</label><div class="fwtk"><span class="act"></span>我已同意牛烘烘的<a target="_blank" href="core.html#rule?act=4&tit=用户注册协议">《用户注册协议》</a></div></li>
       <li><label>&nbsp;</label><button ng-click="regbtn(regphone,regcode,regpwd,regpwd2)">注册</button></li>
     </ul>
  </div>
</div>

<!--右悬浮-->
<div class="fixd-right">
 <a target="_blank" href="gwc.html#/">购物车</a>
 <a target="_blank" href="http://kefu.easemob.com/webim/im.html?tenantId={{sw_p.custom_id}}">咨询</a>
 <a target="_blank" href="core.html#/yjfk">反馈</a>
 <a href="javascript:;" ng-click="scrolltop(0)">顶部</a>
</div>
<!--弹出框end-->
<script>
//品牌
// $(".s-c-l-right .btn li").click(function(){
//   $(this).parents(".s-c-l-right").find(".btn li").removeClass("act")
//   $(this).addClass("act")
//   var index=$(this).index();
//   $(this).parents(".s-c-l-right").find(".s-c-l-r-brand").hide();
//   $(this).parents(".s-c-l-right").find(".s-c-l-r-brand").eq(index).show()
// })
$(".list").mouseover(function (){
    $(".sorts-center").show();
    $(".sorts-center").mouseover(function (){
        $(".sorts-center").show();
    }).mouseout(function (){
        $(".sorts-center").hide();
    });
}).mouseout(function (){
    $(".sorts-center").hide();
});


//调用新浪的IP地址查询
$.getScript('http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js',function(){
  // alert(remote_ip_info.country);//国家
  $(".header-top .add").text(remote_ip_info.province);//省份
  // alert(remote_ip_info.city);//城市
});

</script>