<div class="w_b100 back_fff box_between h40 bor_t">
	<a href="#/" class="box_center grid_cell">
		<div class="h40 w40" ng-class="{true:'footer_live_act_icon',false:'footer_live_icon'}[footerType==1]"></div>
	</a>
	<div class="w1 h_b50 back_ccc"></div>
	<a href="#/mall" class="box_center grid_cell">
		<div class="h40 w40" ng-class="{true:'footer_mall_act_icon',false:'footer_mall_icon'}[footerType==2]"></div>
	</a>
	<div class="w1 h_b50 back_ccc"></div>
	<a href="#/shoppingCart?cartType=1" class="box_center grid_cell">
		<div class="h40 w40" ng-class="{true:'footer_car_act_icon',false:'footer_car_icon'}[footerType==3]"></div>
	</a>
	<div class="w1 h_b50 back_ccc"></div>
	<a href="#/me" class="box_center grid_cell">
		<div class="h40 w40" ng-class="{true:'footer_me_act_icon',false:'footer_me_icon'}[footerType==4]"></div>
	</a>
</div>
